html{
	box-sizing:border-box;
}
*,*::before, *::after{
	box-sizing: inherit;
}


body {
    background-color: #177F42;
    margin:0;
}



h1 {
  color: #0EB2AF;
  text-align: center;
  padding-top: 50px;
  margin-top: 26px;
  font-size:9vw;
  width:100%;
}

a {
  text-decoration: none;
  font-size: 5vw;
  width: 100%;
}

.autocomplete-suggestions { 
  border: 1px solid #999; 
  background: #FFF; 
  overflow: auto; 
  
}

.mainpage{
  width:100%;
}

.onecomment{
  border-bottom-style: dashed;
  border-width: 1px;
}

.postinsubreddit{
  color:black;
  background-color: red;
  width: 300px;
  margin-top: 50px;
}

.notloggedin{
  text-align: center;
  color:yellow;
}


.loginout{
  white-space: nowrap;
  background-color: black;
  font-size: 12px;
  padding: 2px 7px 2px 7px;
  /*float: right;*/
}

.login{
    left: 0px;
    top: 0px;
    height: 9vw;
    position : fixed;
    width: 100%;
    background-color: black;
    color: white;
    text-align: right;
    display: inline-block;
}

.center{
  margin: 0 10vw;;
}

.leavecomment{
  margin-left: 4vw;
}

.leavecommentbutton{
  width: 200px;
  text-align: center;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #07128a;
  text-decoration: none;
}

.leavecommentbutton:hover{
  background: #41647a;
}

.sorting{
  text-align: center;
  margin-top: 20px;
  
}

.eachpost{
   padding-bottom: 1em;
   margin-bottom: 1em;
   border-bottom-style: dashed;
   border-bottom-width: 1px;
   display: flex;
   flex-wrap: wrap;
   
}

.sortoldest{
  display:none;
}

.commentsection{
  margin-left:4vw;
}


.sortingbutton{
  background: #7F1E17
}


.commentAuthor{
  color: black;
  font-size: 12px;
}

.postlist{
  margin-top: 50px;
  margin-bottom: 200px;
}

.navigation{
  
    /* top: 40px; */
    /* width: 100%; */
    background-color: #0B4021;
    /* position: fixed; */
    /* margin: 0 auto; */
    /* text-align: center; */
    list-style-type: none;
    margin-top: 9vw;
    width: 100%;
    /* height: 100%; */
    /* position: fixed; */
    overflow: auto;
    /*top:40px;*/
    /*width: 100%;*/
    
    
    /*for later use*/
    
    /*background-color: #0B4021;*/
    /*position : fixed;*/
    /*margin : 0 auto;*/
    /*text-align: center;*/
    /*list-style-type: none;*/
    /*margin: 0;*/
    /*width: 15%;*/
    
    /*position: fixed;
    height:100%;
    overflow: auto; */
}

.navigation form {
  width: 25%;
}

.navigation form button{
  width:90%;
  height:3em;
}

.divnav{
  display:flex;
  padding: 0.5em 0
}


.showcommentlink{
  justify-content: center;
  align-items: center;
  width: 35%;
  text-align: center;
  margin: auto;
}

.commentLink{
  font-size: 1.2em;
  color: yellow;
}

.descriptiveness{
  text-align: center;
  
}

.onepost {
  font-size: 20px;
  font-weight: inherit;
  text-align: center;  
}


.eachpost ul{
  max-width: 65%;
  font-size: 1em;
  text-align: right;
  padding-right: 3px;
}

.eachpost ul p {
  margin:4px;
  
}

.onepostdetails{
    color: aquamarine;
    font-size: 3vw;
    text-align: center;
}

.oneposturl{
  color: #771818;
  text-decoration: underline;
}

.subdescription{
    padding-left: 2em;
    font-size: 1em;
    font-variant: small-caps;
    font-style: italic;
}

.newsubreddit p{
  text-align: center;
  font-size: 5vw;
  font-variant: small-caps;
  font-weight: 600;
}

.logininfo p {
  text-align: center;
  font-size: 5vw;
  font-variant: small-caps;
  font-weight: 600;
}

.logininfo{
  display:block;
}

.newsubreddit{
  display:block;
}

button {
  background: #8C3C52;
  text-shadow: 2px 1px 3px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 3vw;
  height:8vw;
  text-decoration: none;
  margin: 2px;
  width: 110px;
  cursor: pointer;
}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

form{
    display: inline-block;
    font-size: 4vh;
    /*float: inherit;*/
}

.votebutton {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 0px 0px 0px #666666;
  border-radius: 0px;
  font-family: Arial;
  color: white;
  font-size: 1.2em;
  background: black;
  padding: 5px 6px 5px 6px;
  border: solid #781616 2px;
  text-decoration: none;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.votebutton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.subredditList{
  color: #1A256E;
  padding: 8px;
  margin: 6px;
  font-family: 'arial black';
  font-style: italic;
  font-weight: lighter;
  font-size: 18px;
  font-variant: small-caps;
  letter-spacing: 2px;
  word-spacing: 2px;
  background-color: #1a693c;
}

input{
  font-size: 1em;
}

.centrethis{
  text-align: center;
}

.replyComment{
  font-size: 4vw;
}


@media only screen and (min-width: 641px){
  body{
    display:flex;
    flex-wrap:wrap;
  }
  h1{
    font-size:3em;
  }
  .mainpage{
    width:80%;
    margin-left: 18%
  }
  .sortingbutton{
    height: 4vh;
  }
  .navigation{
    margin-top: 2em;
    position : fixed;
    text-align: center;
    list-style-type: none;
    width: 18%;
    position: fixed;
    height:100%;
    overflow: auto;
  }
  .divnav{
    display:block;
  }
  .navigation form{
    width:100%;
  }
  button{
    font-size:16px;
  }
  .login{
    height:2em;
  }
  .login button{
    height:2em;
  }
  .sortoldest{
    display: inline;
  }
  a{
    font-size: 4vh;
  }
  .showcommentlink{
    justify-content: center;
    align-items: center;
    width: 50%;
     text-align: left; 
     margin: 0; 
  }
  .eachpost{
    display: list-item; 
  }
  .eachpost ul{
    text-align: left;
    padding:0;
  }
  form {
    font-size: 1em;
  }
  .onepostdetails{
    font-size: 3vh;
  }
  button{
    height:30px;
  }
  .replyComment {
    font-size: 3vh;
  }
  .logininfo p {
    font-size: 1em;
      
  }
}