extends layout.pug
block title
  
block nameofpage
  h1
    ="Create Post"
block content
  form(action="/createContent", method="POST" class = "logininfo centrethis")
    
    p
      ="What is the url?"
    div
      input(type="text", name="url", value = previousUrl)
      button(type="button" name="suggest" class = "suggestname") Suggest!
    p
      ="What is the Title?"
    p
      if suggest
        input(type="text", name="title", value = suggest)
      else
        input(type="text", name="title", placeholder="Enter the title of your content")
    if !gotSrId
      p 
        ="What is the subreddit name?"
      p
        input(type="text", name="gotSrId", id = "autocomplete", placeholder="Entre subreddit ID")
    else
      input(type = "hidden", name = "gotSrId", value = gotSrId)
    button(class = "createcontentbutton" type="submit") Create!