extends layout.pug
block nameofpage
    h1 
        ="Create Account"
block content
    form(method = "POST" class = "logininfo")
        p
            ="Username: "
            input(type = "text", name = "newUsername")
            ="Password"
            input(type = "password", name = "newPassword")
        p
            button(type = "SUBMIT")
                ="Submit"