link(rel="stylesheet", href="/files/styles.css")
h1 
    ="Create Account"
form(method = "POST")
      ="Username: "
      input(type = "text", name = "newUsername")
      ="Password"
      input(type = "text", name = "newPassword")
      button(type = "SUBMIT")
        ="Submit"