doctype html
html
  head
    link(rel="stylesheet", href="/files/styles.css")
    meta(charset="utf-8")
    block title
      title List of Contents
  body
    p #{login}
    ="sort by:"
    form(action = "/home?sort=HOT" method = post)
      input(type="hidden" name="sort" value="HOT")
      button(type = "submit")
        ="HOT"
    form(action = "/home?sort=NEW" method = post)
      input(type="hidden" name="sort" value="NEW")
      button(type = "submit")
        ="NEW"
    form(action = "/home?sort=TOP" method = post)
      input(type="hidden" name="sort" value="TOP")
      button(type = "submit")
        ="TOP"
    = '\n'
    block content