extends layout.pug
block nameofpage
  h1 
      ="login"
block content
  form(method = "POST" class = "logininfo")
    p
      ="Username: "
      input(type = "text", name = "thisUsername")
      ="Password"
      input(type = "password", name = "thisPassword")
    p
      button(type = "submit")
        ="Submit"