link(rel="stylesheet", href="/files/styles.css")
p #{login}
div
  ="navigate:"
  form(action = "/createAccount")
    button(type = "submit")
      ="Create Account"
  form(action = "/subreddits")
    button(type = "submit")
      ="List Subreddits"    
  form(action = "/posts")
    button(type = "submit")
      ="posts"
h1 
    ="login"
form(method = "POST")
      ="Username: "
      input(type = "text", name = "thisUsername")
      ="Password"
      input(type = "text", name = "thisPassword")
      button(type = "submit")
        ="Submit"