h1 
    ="login"
form(method = "POST")
      ="Username: "
      input(type = "text", name = "thisUsername")
      ="Password"
      input(type = "text", name = "thisPassword")
      button(type = "submit")
        ="Submit"