extends layout.pug
block title
  title List Of Contents
block nameofpage  
    h1 #{theTitle}
    p(class = "descriptiveness") #{theDescription}
block content
  
  ol(class = "postlist")
    each val in posts
      li(class = "eachpost")
        a(style = "width: 100%" href = "http://"+val.url)=(val.title)
        p(class = "showcommentlink")
          a(href = "/fullpost/"+val.id class = "commentLink")="Comments"
        ul
          p
            ="Created By: " + val.user.username
          p
            ="Vote Score: " + val.voteScore
          div
            form(action = "/vote" method = post)
              input(type="hidden" name="vote" value="1")
              input(type="hidden" name = "postID" value = val.id)
              button(type = "submit" class = "votebutton upvote")
                ="+1"
            form(action = "/vote" method = post)
              input(type="hidden" name="vote" value="-1")
              input(type="hidden" name = "postID" value = val.id)
              button(type = "submit" class = "votebutton downvote")
                ="-1"