extends layout.pug
block title
  title List Of Contents
block nameofpage  
    h1 #{theTitle}
    p(class = "descriptiveness") #{theDescription}
block content
  
  ol(class = "postlist")
    each val in posts
      li(class = "eachpost")
        a(style = "width: 100%" href = "http://"+val.url)=(val.title)
        p(class = "showcommentlink")
          a(href = "/fullpost/"+val.id class = "commentLink")="Comments"
        ul
          p
            ="Created By: " + val.user.username
          p(class = "showScore" data-val = val.voteScore)
            ="Vote Score: " + val.voteScore
          div(class="bothvotebuttons")
            // form(action = "/vote" method = post)
            //   input(type="hidden" name="vote" value="1")
            //   input(type="hidden" name = "postID" value = val.id)
            button(type = "button" class = "votebutton upvote" data-alreadyvoted = val.thisUserVoted data-postid = val.id value = "+1")
                ="+1"
            // form(action = "/vote" method = post)
            //   input(type="hidden" name="vote" value="-1")
            //   input(type="hidden" name = "postID" value = val.id)
            button(type = "button" class = "votebutton downvote" data-alreadyvoted = val.thisUserVoted data-postid = val.id value = "-1")
                ="-1"