extends layout.pug
block nameofpage
  h1
    ="list of subdreddits"
block content
  div(class= "leavecomment")
      form(action = "/newSub")
          button(type = "submit" class = "leavecommentbutton")
              ="Create New Subreddit"
  ol(class = "leftalign")
      each val in subreddits
          li(class = "subredditList")
              a(href = '/r/'+val.title)=(val.title)
          p(class = "subdescription")=" - "+ val.description